*{
    margin: 0;
    margin: 0;
}
body{
    background-color: rgb(159, 249, 255);
    color: black;
}
#encabezado{

    width: 70%;
    background-color: rgb(253, 253, 248);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }
 #encabezadu{
clip-path: circle( 49% at center);
 transition-property: clip-path;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 247, 19);
    margin: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

 }

 .russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
 #contenedor{
    width: 800px;
    height: 850px;
    background-color: white;
    margin: 10px;
    padding: 20px;
  border: 3px yellow;
  }
 


#minu{
    height: 150px;
    width: 700px;
    background-color: rgb(16, 149, 158);
    margin: 3em;
    border-radius: 5px;
}
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 
 

 .lulu
 {
   box-shadow: 0 4px 8px 0 rgb(227, 230, 62);
   overflow: hidden;
   max-width: 290px;
   margin: auto;
   text-align: center;
  clip-path: circle(100% at top center);
  transition-property: clip-path;
  transition-duration: 2s ;
transition: 2s;
   border-radius: 10px;

 }
.lulu:hover{
  transition-duration: 2s;
  clip-path: circle(150% at top center);
  
  max-width: 300px;
  transition: all;
}
.item{
    width: 140px;
    height: 35px;
     margin: 1px;
    border: 3px solid;
    border-radius: 30px;
    text-align: center;
    line-height: 25px;
  color: rgb(226, 238, 58);
  background-color: rgb(239, 247, 19);
   
 }
 .item:hover{
  background-color: rgb(159, 249, 255);
  color: aliceblue;
 }
 .jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 500;
  font-style: normal;
}


 .pili{
    display: flex;
    width: 700px;
    height: 50px;
    flex-direction: row;
  justify-content: center;
  align-items: center;
 }
 