body{
    background-color: rgb(161, 241, 215);
    color: blue;
}
#encabezado{
    background-color: #ffff;
    width: 90%;
    border-radius: 30px;
}
.item{
    width: 40%;
    height: 80px;
}
.itom{
    width: 50%;
    height: 30px;
}
.contenedor{
    width: 60%;
    background-color: rgb(204, 255, 255);
    border-radius: 20px;

}